<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visint.manipale_amsler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity connections of Splash screen -->
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>

        <!-- Activity connections of Login screen -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>

        <!-- Activity connections of Doctor Dashboard Activity -->
        <activity
            android:name=".activity.DoctorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>

        <!-- Activity connections of Patient Dashboard Activity -->
        <activity
            android:name=".activity.PatientActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>

        <!-- Activity connections of Amsler test -->
        <activity
            android:name=".activity.AmslerTest"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>

        <!-- Activity connections of Patient chat Activity -->
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>


        <!-- Activity connections of Login screen -->
        <activity
            android:name=".activity.AppointmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>

    </application>

</manifest>